.appbar{
    height:70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 position: fixed; 
  width: 100%;
  top: 0;
  z-index: 99;
  
}
.group-buttons-appbar{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;

}
.group-buttons-appbar > a{
    height: 20px;
    background-color:#9B28FF;    
    border-radius: 50px;
    margin: 10px;
    color: #fff;
    padding: 10px;    
    outline: none;
    text-decoration: none;
    width: 140px;
    font-weight: 500;   

}

.group-buttons-appbar > a:nth-child(2){   
    background-color:rgba(15, 188, 113, 0.9);
    height: 20px;     
    border-radius: 50px;
    margin: 10px;
    color: #fff;
    padding: 10px;    
    outline: none;
    text-decoration: none;
    width: 140px;
font-weight: 500;   
}

.appbar-img{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.appbar-img img{
   margin-left: -50px;
}
.group-buttons-appbar > a:hover{
    background-color:rgba(153, 20, 20, 0.9);
   transition: all ease 0.2s;
}


@media (max-width: 600px) {
    .appbar{
            height:78px;
        width: 100%;
        display: flex;
      
    
       
       
    }
    .group-buttons-appbar{
flex-direction: column;
width: 50%;
margin: 0;
padding: 0;
height: 100%;


    }
    .appbar-img {
     width: 50%;
     margin: 0px;
    }
    .appbar-img img{
      height:100%;
      width: 70%;
      margin: 10px;
     
    }
 
    .group-buttons-appbar a:nth-child(1),.group-buttons-appbar a:nth-child(2){

      margin: 5px; 
      width: 99px;
      height: 26px;
      padding: 0;
            }
         
            

}