.section9{
    height: 485px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    
}
.bloco1-section9{
    width: 25%;
    margin-right: 50px;
    text-align: center;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    
}
.bloco2-section9{
    width: 25%;
    margin-right: 50px;
    text-align: center;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  
}
.bloco3-section9{
    width: 25%;
    text-align: center;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  
}
.text-section9{
    width: 100%;
  margin-bottom: 10px;
}
.svg{
    width: 100%;
}
.svg svg{
   color: #9b28ff;
}
.section9 span{
    font-size: 18px;
    text-align: left;
    word-spacing: 3px;
    

}
.bloco-section9{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width:600px){
    .section9{
        height: auto;
margin-top: 50px;
    }
    .bloco-section9{
        flex-direction: column;flex-wrap: wrap;    }
    .bloco1-section9,.bloco2-section9,.bloco3-section9{
        padding: 50px 0px;
       width: 100%;
       margin: 0;
        }
        .section9 span{
            font-size: 1.2rem;
        }
}


