.section2 {
    overflow: hidden;
  background: linear-gradient(
    to right,
    rgb(212, 91, 228,0.8) 20%,
    rgb(179, 92, 190) 50%,
    rgb(108, 37, 135)
  );
  height: 525px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.section2-text {
  position: relative;
  margin-top: 100px;
  width: 1000px;
  color: #fff;
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  z-index: 5;
  
  
}
.section2-imgs {
  width: 100%;
  color: #fff;

  
}
.section2-text span:nth-child(1) {
  color: #fff;
  font-size: 33px;
}
.section2-text span:nth-child(2) {
  font-weight: 500px;
  margin-top: 15px;
  color: #fff;
  font-size: 18px;
 
  }

.svg-mouse {
  height: 50px;
  transform: rotate(180deg);
  margin-top: 50px;
  margin-right: 170px;
  margin-left: 100px;
}

.container-section2 {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 0 #000;

}
.img-girl2 {
  position: relative;
  z-index: 3;
  margin-left: 100px;
  height: 518px;
  margin-bottom: -15px;
}

.img-fundo {
position: absolute;
  z-index: 0;
  width: 600px;
  height: 480px;    
    margin-left: -0px;
   
}


.bloco-section2{
  width: 40%;
}
@media (max-width:600px){
  .section2{
    height: auto;
  
  }
  .bloco-section2{
     position: relative;
     width: 100%;
     
  }
  .container-section2{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .section2-text{
    margin: 0px;
    
  }
  .section2-text span:nth-child(2) {
   
    font-size:1.5rem !important;
   
    }
  .img-girl2{
    margin: 0px;
  }
  .section2-text:nth-child(1){
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 30px;
    
  }
  .img-fundo { 
       
        margin-left: -100px;
       
    }


  
}