.section16{
    height: 80%;
   background-color: #cececeab;
   display: flex;
   justify-content: center;
   align-items: center;
   
  
}
.box1-section16{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    margin-bottom: 30px;
    
   
}
.img-box1-section16{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.text-box1-section16{
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
flex-wrap: wrap;
    width: 50%;
    height: 250px;
    margin-top: 50px;
    text-align: left;
}


.box2-section16{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    font-size: 15px;
    
}
.box2-section16 span{
   
    text-align: left;
    margin-bottom: 10px;
   
}
.bloco-section16{
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

@media (max-width:600px){
    .section16{
        height: auto;
        flex-wrap: wrap;
        
    }
    .bloco-section16{
        width: 100%;
        margin: 50px;
        flex-wrap: wrap;
        
    }
    .box1-section16{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
     
    }
    .img-box1-section16{
        width: 100%;
        height: 200px;
    }
    .text-box1-section16{
        width: 100%;       
        padding: 50px;
        margin-top: 0px;
    }
 
    .section16 span{
        font-size: 1.0rem;
    }
}