.section15{
    height: 617px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco1-section15,.bloco2-section15,.bloco3-section15{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 418px;
    padding: 50px;
    
}
.section15 img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}
.section15 span{
    letter-spacing: normal;
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 15px;

}
.section15 h2{
    font-size: 26px;
    color: #9b28ff;
    width: 100%;
}

@media (max-width:600px){
    .section15{
        height: auto;

        flex-direction: column;
    }
    .bloco1-section15{
        width: 100%;
        
    }
    .section15 span{
        font-size: 1.3rem;
    }
}
.bloco1-section15:hover,.bloco2-section15:hover,.bloco3-section15:hover{
   transition: all ease 1s;
   background-color: rgba(229, 217, 230, 0.288);
  
   box-shadow: inset -8px -8px 6px #ffff, 
            inset 3px 3px 13px #9b28ff67;
            border-radius: 15px;
   

    
}