.section11{
   
    height: 50px;
    background-color: #2b2b24;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    position: relative;
   
}
.section11 strong{
    font-size: 18px;
}
.section11 p {
    font-size: 18px;
}
.section11  a{
    height: 20px;
    background: repeating-linear-gradient(
        45deg,
        rgba(15, 188, 113, 0.575) ,
        rgba(15, 188, 113, 0.9) 10px
        );
    border-radius: 50px;
    margin: 10px;
    color: #fff;
    padding: 8px 50px;    
    outline: none;
    text-decoration: none;
    width: 142px;
    font-weight: 500;   

}
.section11 a:hover{
    background-color:rgba(153, 20, 20, 0.9);
    transition: all ease 0.2s;
}
@media (max-width:600px){
    .section11{
        display: none;
    }
}