.section5{
    height: 372px;
    background-color: #e4d0f8;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.text-right-section5{
    width: 30%;
    text-align: left;
    
}
.text-left-section5{
    width: 30%;
    text-align: left;
    margin-right: 150px;
    
}
.bloco-section5{
    width: 80%;
    display: flex; 
   align-items: center;
   justify-content: center;
}