.section6{
    height: 614px;
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    overflow: hidden;
    margin-bottom: -70px;
    
    
}
.imgs-section6{
    width: 30%;
}
.text-center-section6{
   
    z-index: 99;
    width: 30%;
    text-align: left;


 margin-left: 450px;
}
.imgs-right-section6{ 
    right: 0;
    width: 30%;
    display: flex;
    justify-content: right;
    

}
.fundo-section6{
    position: absolute;
    z-index: 0;
    
    width: 651px;
    transform: rotate(50deg);
    margin-top: 100px;
}
.girl-section6{
    position: absolute;
    z-index: 55;
  
    margin-top: 0;
    margin-left: 50px;
}
.imgs-right-section6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.slashbottom{
    transform: rotate(90deg); 
 
 height: 300px;
 

}
.group-midias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
    
}
.bloco-section6{
    width: 80%;    
  display: flex;
  justify-content: center;
  
}
.group-midias:hover{
animation-name: slow;
animation-duration: 2s;
animation-fill-mode: forwards;
}




@keyframes slow{
from{
opacity: 0;
}to{
opacity: 1;
}
}


@media (max-width:600px){
    .section6{
        height: auto;
        flex-direction: column;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-bottom: 100px;
       
    }
    .bloco-section6{
       width: 100%;
       justify-content: center;
    flex-wrap: wrap;
   
    }
    .fundo-section6{
        position: relative;
      
margin: 0px 0px 0px 0px;
    }
    .group-midias{
        display: none;
    }
    .slashbottom{
        display: none;
    }
    .imgs-right-section6{
        display: none;
    }
    .text-center-section6{
        
        display: flex;
      padding: 30px;
        flex-direction: column;         
        justify-content: left;
        align-items: flex-start;  
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .text-center-section6 span{
        font-size: 1.5rem!important;
    }
    .girl-section6{
width: 100%;
       margin: -50px 0px 0px 0px;
    }
.imgs-section6{
    display: flex;
    justify-content: center;
flex-direction: column;
    width: 100%;
}
.text-center-section6 h2 {
    margin-top: 30px!important;
}
}