.section6{
    height: 614px;
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    overflow: hidden;
    margin-bottom: -70px;
    
    
}
.imgs-section6{
    width: 30%;
}
.text-center-section6{
   
    z-index: 99;
    width: 30%;
    text-align: left;


 margin-left: 150px;
}
.imgs-right-section6{ 
    right: 0;
    width: 30%;
    display: flex;
    justify-content: right;
    

}
.fundo-section6{
    position: absolute;
    z-index: 0;
    left: -100px;
    width: 651px;
    transform: rotate(50deg);
    margin-top: 100px;
}
.girl-section6{
    position: absolute;
    z-index: 55;
    left: 0;
    margin-top: 0;
    margin-left: 50px;
}
.imgs-right-section6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.slashbottom{
    transform: rotate(90deg); 
 
 height: 300px;
 

}
.group-midias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
    
}