.section8{
    height: 496px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 background: linear-gradient(to left, rgb(73, 104, 124), rgb(38, 160, 218));  
    background-size: cover;
 
   
}
.text-section8{
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0px;
}


.section8 svg{
    position: absolute;
    transform: rotate(-120deg);
    margin-left: -270px;
}
#player{
    transform: rotate(320deg);
    position: absolute;
    margin-left: -860px;
    margin-top: -170px;
    font-family: ReklameScriptW00-Medium;
}
.bloco-section8{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
   
    align-items: center;
}

@font-face {font-family: "ReklameScriptW00-Medium"; src: url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot"); src: url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff") format("woff"), url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.svg#ReklameScriptW00-Medium") format("svg"); }

@media(max-width:600px){
    .section8{
        height: 900px;
        margin-top: 100px;
       position: sticky;
    }
    .text-section8{
        width: 100%;
        margin-bottom: 60px;
    }
    .reactplayer {
    width: 100%!important;
    height: 100%!important;
    -webkit-border-bottom-left-radius:10px;
     -webkit-border-bottom-right-radius:10px;

    }
    .reactplayer iframe{        
        height: 300px!important;
        
      
        }
        #player{
            transform: rotate(20deg)!important;
            position:relative;
            margin: 0px -290px 0px 0px;
            margin-bottom: 0px; 
            font-size: 30px!important;
        }
    .section8 svg{
        transform: rotate(0deg)!important;
        position: relative;
        margin: -80px 0px 10px -50px;
       

    }
}

  
