.section8{
    height: 496px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    background: url("https://static.wixstatic.com/media/dba454_605f6528f2494b8d878ae6df1293b8ef~mv2.jpg/v1/fill/w_1007,h_372,al_c,q_85,usm_0.66_1.00_0.01/dba454_605f6528f2494b8d878ae6df1293b8ef~mv2.webp");
    background-size: cover;
   overflow: hidden;
   
}
.text-section8{
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0px;
}


.section8 svg{
    position: absolute;
    transform: rotate(-120deg);
    margin-left: -270px;
}
#player{
    transform: rotate(320deg);
    position: absolute;
    margin-left: -860px;
    margin-top: -170px;
    font-family: ReklameScriptW00-Medium;
}
.bloco-section8{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    align-items: center;
}

@font-face {font-family: "ReklameScriptW00-Medium"; src: url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot"); src: url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff") format("woff"), url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.svg#ReklameScriptW00-Medium") format("svg"); }

@media(max-width:600px){
    .section8{
        height: auto;
        margin-top: 100px;
    }
    .text-section8{
        width: 100%;
    }
    .reactplayer {
    width: 100%!important;
    height: 100%!important;
    }
    .reactplayer iframe{        
        height: 300px!important;
      
        }
        #player{
            transform: rotate(20deg)!important;
            position:relative;
            margin: 0px -290px 0px 0px;
            margin-bottom: 50px;   
        }
    .section8 svg{
        transform: rotate(0deg)!important;
        position: relative;
        margin: -80px 0px 10px -50px;

    }
}