.section14{
    height: 557px;
    background: url('../../assets/fundo16.webp');
    background-size: cover;
    display: flex;
    justify-content: center;

  
}
.box-section14{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 80%;
}
.blocoleft-section14{
    width: 60%;
    margin-right: 600px;

}

.blocoleft-section14 img:nth-child(1){
    position: absolute;
    z-index: 0;
 
    margin-top: -50px;
    height: 481px;
    width: 831px;
    
}
.blocoleft-section14 img:nth-child(2){
    position: absolute;
    z-index: 5;
 
    height: 558px;
    width: 703px;    


}
.blocoright-section14{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    height: 100%;
   

}
.blocoright-section14 span{
    width: 100%;
   margin-bottom: 15px;
    font-family: lulo-clean-w01-one-bold,sans-serif;
    letter-spacing: normal;    

}
.blocoright-section14 span:nth-child(1){
margin-top: 30px;

}
.bloco-section14{
    width: 90%;
    position: absolute;
}
@media (max-width:600px){
    .section14{
        height:800px;
 margin-top: 300px;

    }
    .bloco-section14{
        width: 100%;
    }

    .box-section14{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
  
    }
    .blocoleft-section14 img:nth-child(1){
     position: relative;
     height: 300px;
     margin-top: -300px;
     width: 100%;
    }
    .blocoleft-section14 img:nth-child(2){
        position: relative;
        height: 400px;
        margin-top: -200px;
        width: 100%;
        
    }
    .blocoleft-section14{
       width: 100%;       
       margin-right: 0;
    
    }
}