.section14{
    height: 557px;
    background: url('../../assets//fundo16.webp');
    background-size: cover;
    display: flex;
    justify-content: center;

  
}
.box-section14{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 80%;
}
.blocoleft-section14{
    width: 70%;
}

.blocoleft-section14 img:nth-child(1){
    position: absolute;
    z-index: 0;
    left: 150px;
    margin-top: -50px;
    height: 481px;
    width: 831px;
    
}
.blocoleft-section14 img:nth-child(2){
    position: absolute;
    z-index: 5;
    left: 280px;
    height: 558px;
    width: 703px;    


}
.blocoright-section14{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 341px;
    height: 100%;
    margin-left: -400px;

}
.blocoright-section14 span{
    width: 100%;
   margin-bottom: 15px;
    font-family: lulo-clean-w01-one-bold,sans-serif;
    letter-spacing: normal;    

}
.blocoright-section14 span:nth-child(1){
margin-top: 30px;

}