.section3{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.box-section3{
    width: 60%;
    display: flex;
    justify-content: center;
}
.text-section3{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
   
}
.img-section3 img{
width: 70%;
height: 441px;
margin-top: 100px;

}
.img-section3 {
    width: 60%;
  

}
.text-box{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    text-align: left;
    margin-left: -100px;
}
.btn-section3 {   
    text-align: center;
    background: repeating-linear-gradient(
45deg,
rgba(15, 188, 113, 0.575) ,
rgba(15, 188, 113, 0.9) 10px
);
    height: 20px;     
    border-radius: 50px;
    margin: 10px;
    color: #fff;
    padding: 10px;    
    outline: none;
    text-decoration: none;
    width: 140px;
    margin-top: 30px;
  
}
.btn-section3:hover{
    background-color:rgba(153, 20, 20, 0.9);
    transition: all ease 0.2s;
}



@media (max-width:600px){
    .section3{
height: auto;
margin-bottom: 100px;
    }
    .box-section3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;

    }
    .img-section3 {
        width: 100%;
        height: 50%;
        
        margin: 0;           
        } 
         .img-section3 img{
            width: 100%;
            height: 50%;
            
            margin: 0;           
            }
.text-section3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    flex-wrap: wrap;
}
.text-box{
    width: 100%;
    margin: 0;
    padding: 15px;    
    display: flex;
   font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: left;
    flex-wrap: wrap;   
   
}
.btn-section3 {   
  padding: 20px;
  width: 160px;
 text-align: top!important;
  
}
}