.section3{
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.box-section3{
    width: 80%;
    display: flex;
    justify-content: center;
}
.text-section3{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
   
}
.img-section3 img{
width: 70%;
height: 441px;
margin-top: 100px;

}
.img-section3 {
    width: 60%;
  

}
.text-box{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    text-align: left;
    margin-left: -100px;
}
.btn-section3 {   
    text-align: center;
    background-color:rgba(15, 188, 113, 0.9);
    height: 20px;     
    border-radius: 50px;
    margin: 10px;
    color: #fff;
    padding: 10px;    
    outline: none;
    text-decoration: none;
    width: 140px;
    margin-top: 30px;
  
}
.btn-section3:hover{
    background-color:rgba(153, 20, 20, 0.9);
    transition: all ease 0.2s;
}
.img-section3 img {
    animation-name: smoll;
    animation-duration: 2s;
    
    animation-fill-mode: forwards;
}
@keyframes smoll{
    from{
        opacity: 0;


    }
    to{
        opacity: 1;

    }
}