.whatsapp{
    position: fixed;
    z-index: 99;
    bottom: 30px;
    right: 30px;
    
}
.whatsapp img{
    height: 66px;
    width: 66px;
    
}
.whatsapp span{
    display: none;
}
@media (max-width:600px){
    .whatsapp{
        right: 0;
        height: auto;
        background-color:#21d366;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 99;
        bottom: 0;
        color: #fff;
    }
    .whatsapp span{
        
        font-size: 1.4rem;
    }
}