.whatsapp{
    position: fixed;
    z-index: 99;
    bottom: 30px;
    right: 30px;
    
}
.whatsapp img{
    height: 66px;
    width: 66px;  
        opacity: 0.1;
         animation-name: pup;
         animation-duration: 1s;
         animation-iteration-count: infinite;  
    
}
.whatsapp span{
    display: none;
}
@media (max-width:600px){
    .whatsapp{
        right: 0;
        height: auto;
        background-color:#21d366;
        width: 100%;
        margin: 0;
        padding: 10px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 99;
        bottom: 0;
        color: #fff;
    }
    .whatsapp span{
        display: flex;
        font-size: 1.4rem;
        padding-bottom: 10px;
        
    }
    
}


@keyframes pup{
    from{
      
    }to{
        opacity: 1;
    }
}